# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.WorkersGaugeTrace.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\project\visual Studio Project\WorkersGaugeTrace\.idea\.idea.WorkersGaugeTrace\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
